---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { getArticles } from "./../library/microcms";

const {
	totalCount,
	offset,
	limit,
	contents: articles
} = await getArticles({ fields: ["id", "title", "isSecret", "shortDescription", "publishedAt", "revisedAt"] });
---

<Layout title="Blog">
	<div class="flex flex-col space-y-5 my-10 items-center">
		{
			articles.map((article) => {
				return <Card article={article} />
			})
		}
	</div>
</Layout>

<style></style>
