---
interface Props {
	title: string;
	href: string;
	publishedAt: string;
	revisedAt: string;
	body: string;
}

const { href, title, publishedAt, body } = Astro.props;
---

<div class="card bg-base-100 hover:bg-base-200 shadow-xl">
	<a href={href}>
		<div class="card-body">
			{
				/**
				 * TODO: 下書きをどう見せるか。とはいえ、僕しか見れないようにするけど。
				 */
			}
			<div class="badge badge-outline badge-xs">{publishedAt}</div>
			<h2 class="card-title">{title}</h2>
			<p class="text-xs">{body}</p>
		</div>
	</a>
</div>